.advantages {
  padding: 120px 0 30px;
  background-color: #f8f9fc;

  @media (max-width: $desktop) {
    padding: 100px 0;
  }

  @media (max-width: $desktop) {
    padding: 70px 0;
  }

  &__container {
    @media (max-width: $table) {
      padding: 0;
    }
  }

  & h2 {
    margin-bottom: 57px;
    text-align: center;

    @media (max-width: $table) {
      margin-bottom: 42px;
    }
  }

  &__inner {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    padding: 0 53px;

    @media (max-width: $desktop) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__list {
    padding: 0;
    padding-left: 33px;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 33%;

    @media (max-width: $desktop) {
      flex-direction: row;
      flex-grow: 1;
      width: 100%;
      padding-left: 0;
    }

    @media (max-width: $table) {
      flex-direction: column;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;

    align-items: flex-start;
    justify-content: space-between;

    min-height: 164px;

    box-sizing: border-box;

    &:first-child {
      margin-bottom: 75px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -30px;
        width: 100%;
        height: 2px;
        background-color: rgba(209, 10, 66, 0.2);
      }
    }

    @media (max-width: $desktop) {
      flex-wrap: wrap;
      width: 50%;

      &:first-child {
        margin-bottom: 0;

        &::before {
          background-color: transparent;
        }
      }
    }

    @media (max-width: $table) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;

      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & span {
      margin-top: -10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #2e35ac;
      box-sizing: border-box;
    }

    &--center-blue {
      margin-top: 13px;
      padding: 34px 34px 63px;
      flex-direction: column;
      align-items: center;

      max-width: 240px;
      background-color: #1c3374;
      color: $default-color;
      text-align: center;

      @media (max-width: $desktop) {
        width: 100%;
        max-width: 440px;
        margin: 40px auto;
      }

      @media (max-width: $table) {
        margin-top: 0;
        width: 100%;
        max-width: 100%;
      }

      & .advantages__num {
        margin-bottom: 30px;
        margin-right: 0;
        color: inherit;

        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 150%;

        box-sizing: border-box;
      }

      & span {
        margin: 5px auto -6px;
        font-style: normal;
        font-weight: bold;
        font-size: 74px;
        line-height: 130%;
        color: $default-color;
        box-sizing: border-box;
      }

      & p {
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        box-sizing: border-box;
      }
    }

    & h3 {
      margin: 0;
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 150%;
    }

    & p {
      margin: 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 130px;

    @media (max-width: $table) {
      align-items: center;
    }

    & svg {
      padding-top: 8px;
      height: 70px;
      font-style: normal;
      font-weight: bold;
      font-size: 71px;
      line-height: 60px;

      @media (max-width: $table) {
        height: 60px;
      }
    }
  }

  &__info {
    margin-top: 5px;
    margin-left: 24px;
    box-sizing: border-box;

    @media (max-width: $table) {
      text-align: center;
      width: auto;
      padding: 0 45px;
      margin: 0;
    }
  }
}
