.advantages {
  padding: 120px 0 111px;
  background-color: #f8f9fc;

  @media (max-width: $desktop) {
    padding: 100px 0 30px;
  }

  @media (max-width: $desktop) {
    padding: 70px 0 86px;
  }

  @media (max-width: $table) {
    padding-bottom: 30px;
  }

  &__container {
    @media (max-width: $table) {
      padding: 0;
    }
  }

  & h2 {
    margin-bottom: 57px;
    text-align: center;

    @media (max-width: $desktop) {
      margin-bottom: 35px;
    }

    @media (max-width: $table) {
      margin-bottom: 39px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 53px;

    @media (max-width: $desktop) {
      padding: 0;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;

    display: flex;

    width: calc(100% * 1 / 3);

    align-items: flex-start;
    justify-content: flex-start;

    min-height: 164px;
    box-sizing: border-box;

    transition: 0.5s;

    &--last {
      padding-top: 50px;
      border-top: 2px solid rgba(209, 10, 66, 0.2);
    }

    &:not(.advantages__item--center-blue):nth-of-type(2n) {
      margin-left: calc(100% * 2 / 3);
      margin-top: -164px;

      @media (max-width: $desktop) {
        margin-left: 0;
        margin-top: 0;
      }
    }

    @media (max-width: $desktop) {
      margin-bottom: 0;
    }

    @media (max-width: 1199px) {
      justify-content: center;
      flex-wrap: wrap;
      width: 50%;
      min-height: auto;

      &:nth-of-type(2n) {
        margin-left: 0;
        margin-top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        order: 2;
        padding-top: 0;
        border: none;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 33px;

      width: 100%;
    }

    & span {
      margin-top: -10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #2e35ac;
      box-sizing: border-box;
    }

    & h3 {
      margin: 0;
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 150%;

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    & p {
      margin: 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 34px 63px;
    max-width: 240px;
    margin: 0 auto;
    background-color: #1c3374;
    color: $default-color;
    text-align: center;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      padding: 12px 34px 35px;
    }

    @media (max-width: 1199px) {
      margin: 40px auto;
      max-width: 440px;
      width: 100%;
    }

    @media (max-width: 767px) {
      padding: 19px 67px 42px;
      margin: 0;
    }
  }

  &__item--center-blue {
    position: absolute;
    top: 50%;
    left: calc(100% / 3);
    transform: translateY(-50%);

    @media (max-width: 1199px) {
      position: relative;
      left: 0;
      top: 0;
      transform: translateY(0%);

      width: 100%;
    }

    & .advantages__num {
      margin-bottom: 30px;
      margin-right: 0;
      color: inherit;

      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 150%;

      box-sizing: border-box;

      @media (max-width: $desktop) {
        font-size: 23px;
        margin-bottom: 11px;
      }

      @media (max-width: 767px) {
        margin-bottom: 9px;
        font-size: 23px;
      }
    }

    & span {
      margin: 5px auto -6px;
      font-style: normal;
      font-weight: bold;
      font-size: 74px;
      line-height: 130%;
      color: $default-color;
      box-sizing: border-box;

      @media (max-width: 767px) {
        margin-bottom: -14px;
      }
    }

    & p {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      box-sizing: border-box;

      @media (max-width: $desktop) {
        max-width: 185px;
      }
    }
  }

  &__num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $table) {
      align-items: center;
    }

    & svg {
      padding-top: 8px;
      height: 70px;
      width: 90px;
      min-width: 90px;
      font-style: normal;
      font-weight: bold;
      font-size: 71px;
      line-height: 60px;

      @media (max-width: $table) {
        height: 60px;
      }
    }
  }

  &__info {
    margin-top: 5px;
    margin-left: 24px;
    box-sizing: border-box;

    width: 59%;
    max-width: 220px;
    flex-grow: 1;

    @media (max-width: 767px) {
      text-align: center;
      width: 100%;
      max-width: 350px;
      padding: 0 47px;
      margin: 0;
      margin-top: 4px;
    }
  }
}
