.contacts {
  padding-left: 120px;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding-left: 133px;
  }

  @media (max-width: $table) {
    padding-left: 15px;
  }

  & ul {
    padding: 0;
    padding-left: 4px;
    margin: 0;
    list-style: none;

    max-width: 460px;

    column-count: 2;
    column-gap: 122px;
    column-rule: 1px solid #74819c;

    @media (max-width: $desktop) {
      column-gap: 48px;
    }

    @media (max-width: $table) {
      column-count: 1;
    }
  }

  & li {
    margin-bottom: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    @media (max-width: $desktop) {
      margin-bottom: 35px;
      font-size: 18px;
      line-height: 152.34%;
    }
  }

  & span {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
    }
  }

  & a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }
}
