.contacts {
  padding-left: 120px;
  padding-right: 103px;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 45px;
  }

  // @media (max-width: 800px) {
  //   padding-left: 133px;
  //   padding-right: 103px;
  //   padding-top: 68px;
  // }

  @media (max-width: $table) {
    padding-left: 13px;
  }

  @media (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  & h3 {
    margin-bottom: 45px;

    @media (max-width: 800px) {
      margin-bottom: 34px;
    }

    @media (max-width: $table) {
      margin-bottom: 36px;
    }
  }

  & ul {
    padding: 0;
    padding-left: 4px;
    margin: 0;
    list-style: none;

    column-count: 2;
    column-gap: 122px;
    column-rule: 1px solid #74819c;

    @media (max-width: $desktop) {
      column-gap: 99px;
      padding: 0;
    }

    @media (max-width: 900px) {
      column-gap: 98px;
    }

    @media (max-width: 450px) {
      column-count: 1;
    }
  }

  & li {
    margin-bottom: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    @media (max-width: $desktop) {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 152.34%;
    }

    @media (max-width: $table) {
      margin-bottom: 19px;
    }
  }

  & span {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    @media (max-width: $desktop) {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
    }

    @media (max-width: $table) {
      margin-bottom: 6px;
    }
  }

  & a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }
}
