.container {
  max-width: 1366px;
  width: 100%;
  padding: 0 103px;
  margin: 0 auto;

  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding: 0 45px;
  }

  @media (max-width: $table) {
    padding: 0 15px;
  }
}
