.date-and-time {
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-size: 10px;
    }

    @media (max-width: $table) {
      margin-bottom: 0;
    }
  }

  &__title {
    position: relative;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-size: 12px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 70%;
      height: 1px;
      background-color: $default-color;

      @media (max-width: $table) {
        bottom: -2px;
      }
    }
  }

  &__val {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-size: 24px;
    }
  }

  &__date {
    display: block;
    margin-left: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    @media (max-width: $table) {
      font-size: 10px;
    }
  }
}
