.date-and-time {
  &__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-size: 10px;
    }
  }

  &__title {
    padding-bottom: 2px;
    width: 100%;
    border-bottom: 1px solid $default-color;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-size: 12px;
    }
  }

  &__val {
    width: 28%;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;

    @media (max-width: $desktop) {
      font-size: 24px;
    }
  }

  &__date {
    width: 50%;
  }
}
