.form-order {
  display: flex;
  flex-wrap: wrap;
  background-color: $primary-color;
  color: $default-color;
  box-sizing: border-box;

  padding-left: 103px;
  padding-right: 170px;

  @media (max-width: $desktop) {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 66px;
  }

  @media (max-width: 800px) {
    padding-left: 88px;
    padding-right: 118px;
  }

  @media (max-width: $table) {
    max-width: 100%;
    padding-left: 88px;
    padding-right: 118px;
    padding-bottom: 69px;
  }

  @media (max-width: 600px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  & h3 {
    margin-bottom: 37px;
    width: 100%;
    color: inherit;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      margin-bottom: 31px;
    }

    @media (max-width: $table) {
      margin-bottom: 34px;
    }
  }

  & label {
    flex-grow: 1;
    margin-bottom: 30px;
    width: calc(50% - 10px);
    border-bottom: 1px solid #74819c;
    box-sizing: border-box;

    &:not(:nth-child(3)) {
      margin-right: 10px;
    }

    @media (max-width: $table) {
      margin-bottom: 34px;
    }

    @media (max-width: 500px) {
      margin-right: 0;
      width: 100%;

      &:not(:nth-child(3)) {
        margin-right: 0;
      }
    }
  }

  & input {
    padding-bottom: 6px;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: $default-color;

    &::placeholder {
      color: $default-color;
    }

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }

  & input:valid {
    border-color: green;
  }

  & input:invalid {
    border-color: red;
  }

  & input:required:valid {
    border-color: green;
  }

  & button {
    padding: 16px;

    width: 100%;
    color: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid $default-color;
    box-sizing: border-box;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }
}
