.gym {
  padding: 120px 0 227px;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding: 100px 0 175px;
  }

  @media (max-width: $table) {
    padding: 70px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $table) {
      padding: 0;
    }
  }

  &__info {
    width: 43%;
    padding-top: 48px;
    padding-left: 60px;
    padding-right: 85px;
    margin: 0 auto 37px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 100%;
      padding: 0;
      text-align: center;
      max-width: 500px;
    }

    @media (max-width: $table) {
      padding: 0 15px;
      margin-bottom: 25px;
      text-align: left;
    }

    & h2 {
      margin: 0;
      margin-bottom: 6px;
    }

    & p {
      margin: 0;
      margin-bottom: 8px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;

      @media (max-width: $desktop) {
        &:last-child {
          display: none;
        }
      }

      @media (max-width: $table) {
        margin-right: 17px;
      }
    }
  }

  &__header {
    margin-bottom: 40px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      margin-bottom: 35px;
    }

    @media (max-width: $table) {
      margin-bottom: 24px;
    }

    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;

      @media (max-width: $desktop) {
        &:last-child {
          display: block;
        }
      }
    }
  }

  &__pic {
    position: relative;
    width: 57%;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: $table) {
        margin-bottom: 33px;
        min-height: 313px;
      }
    }
  }

  &__video {
    position: absolute;
    bottom: -108px;
    left: -63px;
    height: 230px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(20, 54, 122, 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 73px;
      height: 73px;
      background-image: url("../img/icons/icon-play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
    }

    @media (max-width: $desktop) {
      left: 50%;

      bottom: -76px;
      height: 167px;
      width: 264px;
      transform: translateX(-50%);
    }

    @media (max-width: $table) {
      position: static;
      max-height: 167px;
      transform: translateX(0%);
    }

    & video {
      width: 100%;
      height: 100%;
    }
  }
}
