.hours {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  &--opacity {
    opacity: 0.5;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 45px 0;
    width: 100%;
    height: 108px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0%;
    border: 2px solid #1c3374;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      font-size: 18px;
    }

    @media (max-width: $table) {
      padding: 20px 0;
      font-size: 16px;
      height: 80px;
    }

    &--active {
      color: #ffffff;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}
