.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;

  background-color: transparent;

  &__phone {
    & a {
      display: block;
      font-family: $mainFontTitle;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 26px;
      letter-spacing: 0.03em;

      color: $default-color;
      text-decoration: none;

      @media (max-width: $desktop) {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }

      @media (max-width: $table) {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.02em;
      }

      &:focus,
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
