.review {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 62px 50px 65px;
  width: 100%;
  max-width: 100%;
  background-color: $primary-color;
  color: $default-color;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  box-sizing: border-box;

  @media (max-width: $table) {
    padding: 49px 25px 23px;
  }

  &__pic {
    width: 80px;
    padding-top: 4px;
    box-sizing: border-box;

    @media (max-width: $table) {
      position: absolute;
      top: 15%;
      left: 35%;

      width: 68px;
      padding: 0;
    }

    @media (max-width: 600px) {
      top: 10%;
      left: 25%;
    }

    @media (max-width: 425px) {
      top: 40px;
      left: 40px;
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__info {
    margin: 0;
    width: 75%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    @media (max-width: $table) {
      width: 100%;
      align-items: center;
    }

    & h3 {
      margin: 0;
      margin-bottom: 15px;

      @media (max-width: $table) {
        margin-left: 102px;
        margin-bottom: 23px;
      }
    }

    & p {
      margin: 0;
      width: 100%;

      @media (max-width: $table) {
        text-align: center;
      }
    }
  }
}
