.review {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 65px;
  max-width: 560px;
  background-color: $primary-color;
  color: $default-color;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);

  &__pic {
    width: 20%;
  }

  &__info {
    margin: 0;
    width: 80%;
  }
}