.reviews {
  padding-bottom: 120px;

  @media (max-width: $desktop) {
    padding-bottom: 100px;
  }

  @media (max-width: $desktop) {
    padding-bottom: 70px;
  }

  & h2 {
    margin-bottom: 62px;
    text-align: center;
  }

  &__slider {

  }

  &__slide {
    margin: 0 auto;
  }
}