.stocks {
  padding: 120px 0 114px;

  @media (max-width: $desktop) {
    padding: 100px 0;
  }

  @media (max-width: $table) {
    padding: 70px 0;
  }

  & h2 {
    margin-bottom: 50px;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $desktop) {
      flex-direction: column;
    }
  }

  &__preview {
    flex-direction: row;
    padding: 0;
    width: calc(50% - 20px);
    max-height: 465px;
    overflow: hidden;
    border: none;

    @media (max-width: $desktop) {
      width: 100%;
      max-height: 100%;
      margin-bottom: 40px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    height: 100%;
    min-height: 465px;
    @media (max-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-height: 211px;
    }

    @media (max-width: $table) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 22px 30px 32px;
    margin-bottom: 40px;
    width: 100%;

    border: 5px solid transparent;
    border-image-source: url("../img/promo/bg-gradient.svg");
    border-image-slice: 100%;
    border-image-width: 7px;
    border-image-repeat: round;
    border-image-slice: 10;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $desktop) {
      flex-grow: 0;
      width: calc(50% - 15px);
      margin-bottom: 0;
    }

    @media (max-width: $table) {
      width: 100%;
      margin-bottom: 40px;
    }

    & a {
      display: inline-block;
      vertical-align: middle;
      margin-top: auto;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #1c3374;

      &:focus,
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__item-header {
    color: #1c3374;
    & h3 {
      margin: 0;
      margin-bottom: 7px;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: normal;
    }

    & p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
