.stocks {
  padding: 120px 0 69px;
  overflow: hidden;

  @media (max-width: $desktop) {
    padding: 100px 0 55px;
  }

  @media (max-width: $table) {
    padding: 70px 0 25px;
  }

  & h2 {
    margin-bottom: 55px;
    text-align: center;

    @media (max-width: $desktop) {
      margin-bottom: 40px;
    }

    @media (max-width: $table) {
      margin-bottom: 43px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__preview {
    flex-direction: row;
    padding: 0;
    width: calc(50% - 20px);
    min-height: 465px;
    overflow: hidden;
    border: none;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: calc(60% - 20px);
    }

    @media (max-width: 900px) {
      width: 100%;
      max-height: 100%;
      margin-bottom: 24px;
    }

    @media (max-width: $table) {
      margin-bottom: 31px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    height: 100%;
    min-height: 465px;

    @media (max-width: $desktop) {
      width: calc(40% - 20px);
    }

    @media (max-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-height: 211px;
    }

    @media (max-width: $table) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 26px 37px 38px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;

    box-sizing: border-box;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      background-image: linear-gradient(to right, #b80027 0%, #003d85 100%),
        linear-gradient(to left, #b80027 0%, #003d85 100%);
    }

    &::after {
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      background-size: 5px 100%;
      background-image: linear-gradient(to bottom, #b80027 0%, #003d85 100%),
        linear-gradient(to top, #b80027 0%, #003d85 100%);
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 900px) {
      flex-grow: 0;
      width: calc(50% - 15px);
      margin-bottom: 0;
      padding: 25px 35px 37px;
    }

    @media (max-width: $table) {
      align-items: center;
      width: 100%;
      padding: 36px 43px 46px;
      margin-bottom: 32px;
      text-align: center;
    }

    &-link {
      position: relative;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      margin-top: auto;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;

      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;

      color: #1c3374;

      &:focus,
      &:hover {
        opacity: 0.5;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #1c3374;
      }
    }
  }

  &__item-header {
    margin-bottom: 40px;
    color: #1c3374;

    @media (max-width: $table) {
      margin-bottom: 26px;
    }

    & h3 {
      margin: 0;
      margin-bottom: 7px;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: normal;
    }

    & p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
