.trainers {
  padding-top: 41px;
  padding-bottom: 87px;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding-top: 35px;
    padding-bottom: 97px;
  }

  @media (max-width: $table) {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  &__container {
    padding: 0 30px;

    @media (max-width: $table) {
      padding: 0;
    }
  }

  & h2 {
    padding-left: 73px;
    margin-bottom: 55px;

    @media (max-width: $desktop) {
      margin-bottom: 41px;
      text-align: center;
      padding-left: 0;
    }

    @media (max-width: $table) {
      padding-left: 0;
      margin-bottom: 43px;
      text-align: center;
    }
  }

  &__inner {
    height: 0;
    opacity: 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 75px;
    width: 100%;
    text-align: center;
    background: rgba(16, 38, 84, 0.89);

    color: #b6bdcc;
    box-sizing: border-box;

    @media (max-width: $table) {
      padding-top: 64px;
    }

    & ul {
      padding-top: 15px;
      color: $default-color;
      text-align: left;
      padding-right: 44px;
      padding-left: 75px;
      box-sizing: border-box;

      @media (max-width: $table) {
        padding-right: 35px;
        padding-left: 52px;
      }
    }

    & li {
      margin-bottom: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      box-sizing: border-box;
    }
  }

  &__slider {
    position: relative;
    padding: 0 75px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      padding: 0 7px;
    }

    @media (max-width: $table) {
      padding: 0 46px;
    }

    & .swiper-container {
      @media (max-width: 1023px) {
        width: 600px;
      }

      @media (max-width: $table) {
        width: 226px;
      }
    }

    & .swiper-button-prev {
      top: 46%;
      transform: rotate(180deg);

      outline: none;

      border: none;
      background-color: transparent;

      @media (max-width: $table) {
        top: 50%;
      }

      &::after {
        content: "";
      }

      & svg {
        fill: transparent;
      }
    }

    & .swiper-button-next {
      top: 46%;

      outline: none;

      border: none;
      background-color: transparent;

      @media (max-width: $table) {
        top: 50%;
      }

      &::after {
        content: "";
      }

      & svg {
        fill: transparent;
      }
    }
  }

  &__slide {
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    height: 296px;
    max-width: 260px;
    margin-bottom: 30px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      max-width: 290px;
    }

    @media (max-width: $table) {
      max-height: 273px;
      margin: 0;
    }

    &:hover {
      & .trainers__inner {
        height: 100%;
        opacity: 1;
        transition: opacity 1s;
      }

      & h3 {
        margin-top: 53px;

        @media (max-width: $table) {
          margin-top: 40px;
        }
      }
    }

    & h3 {
      position: relative;
      z-index: 3;
      margin: 0;
      margin-top: auto;
      margin-bottom: 26px;
      color: $default-color;
      text-align: center;
    }

    & img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
