@font-face {
  font-family: $mainFont;
  font-display: auto;
  src: url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $mainFontLight;
  font-display: auto;
  src: url("../fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../fonts/Robotocondensedlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $mainFontTitle;
  font-display: auto;
  src: url("../fonts/bebasneuebook.woff2") format("woff2"),
    url("../fonts/bebasneuebook.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $mainFontTitleBold;
  font-display: auto;
  src: url("../fonts/bebasneuebold.woff2") format("woff2"),
    url("../fonts/bebasneuebold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
