// Глобальные переменные
// Font
$font-family-sans-serif: -apple-system, "blinkmacsystemfont", "Segoe UI", "Roboto",
  "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-sans-serif-condensed: "DINNextW01-CondensedMed",
  "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold",
  "HelveticaNeue-CondensedBold", "Ubuntu Condensed", "Liberation Sans Narrow",
  "Franklin Gothic Demi Cond", "Arial Narrow", "Roboto Condensed",
  sans-serif-condensed, "Arial", "Trebuchet MS", "Lucida Grande", "Tahoma",
  sans-serif;
$font-family-serif: "Georgia", "Times", "Times New Roman", serif;
$font-family-mono: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier",
  monospace;

$mainFontTitle: "Bebas Neue";
$mainFontTitleBold: "Bebas Neue Bold", $font-family-sans-serif-condensed;
$mainFont: "Roboto Condensed", "Arial", sans-serif;
$mainFontLight: "Roboto Condensed Light", "Arial", sans-serif;
// Size
$mainFontSize: 16px;
$mainLineHeight: 150%;

// Main color
$default-color: #ffffff;
$primary-color: #102654;
$secondary-color: #ed0233;
$adv-color: #1c3374;
$footer-bg-color: #030a1a;

$bg-gradient-hover: rgba(16, 38, 84, 0.89);

$btn-bg-hover: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);

$table: 767px;
$desktop: 1199px;
