// Глобальные переменные
// Font
$mainFontTitle: "Bebas Neue", "Arial", sans-serif;
$mainFontTitleBold: "Bebas Neue Bold", "Arial", sans-serif;
$mainFont: "Roboto Condensed", "Arial", sans-serif;
$mainFontLight: "Roboto Condensed Light", "Arial", sans-serif;
// Size
$mainFontSize: 16px;
$mainLineHeight: 150%;

// Main color
$default-color: #ffffff;
$primary-color: #102654;
$secondary-color: #ed0233;
$adv-color: #1c3374;
$footer-bg-color: #030a1a;

$bg-gradient: radial-gradient(
  33.97% 69.22% at 16.03% 39.06%,
  #003d85 99.48%,
  #b80027 99.03%
);
$bg-gradient-table: radial-gradient(
  34.19% 66.65% at 20.7% 35.74%,
  #003d85 118.87%,
  #b80027 82.22%
);
$bg-gradient-mob: radial-gradient(
  97.51% 64.94% at 35.31% 34.22%,
  #003d85 102.07%,
  #b80027 96.62%
);

$bg-gradient-hover: rgba(16, 38, 84, 0.89);

$btn-bg-hover: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);

$table: 767px;
$desktop: 1199px;
